p,
ul {
  margin-top: 5px;
}
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 5vw;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 15px 2px;
  position: sticky;
  top: 0;
  z-index: 100;
}
header img {
  height: 50px;
}
header nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
}
header nav ul li {
  padding: 7px 25px;
  font-weight: 500;
  color: rgb(71, 71, 76);
  cursor: pointer;
}
header nav ul button {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: white;
  background-color: #fe344a;
  border: none;
  border-radius: 25px;
  padding: 9px 20px;
  cursor: pointer;
  margin-left: 10px;
}

/* ##########################   Home    ########################### */
#home {
  padding: 50px 5vw;
}
#home h2 {
  font-weight: 600;
  font-size: 28px;
}
#foodList {
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* ############################   Resturant Card   ###########################3 */

#resCard {
  width: 300px;
  border-radius: 5px;
  padding: 10px;
}
#resCard:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}
#resCard .img {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  position: relative;
}
#resCard .img h4 {
  position: absolute;
  font-family: "poppins";
  color: white;
  font-size: 20px;
  bottom: 0px;
  text-align: left;
  font-weight: 700;
  letter-spacing: 0.5px;
  left: 15px;
}

#resCard .title {
  font-family: "poppins";
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
}
#resCard .category {
  color: rgb(52, 52, 60);
  line-height: 35px;
}
#resCard .rating {
  padding: 5px 0;
  border-radius: 5px;
  color: rgb(89, 89, 94);
}
#resCard .price {
  font-size: 18px;
  color: orangered;
  font-weight: 700;
  font-family: "Roboto";
}
#resCard button {
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  color: green;
  border: 1px solid green;
  background-color: white;
  margin-top: 15px;
  font-weight: 700;
  letter-spacing: 0.3px;
}
#resCard button:hover {
  background-color: green;
  color: aliceblue;
  cursor: pointer;
}
